#edit-profile.edit-profile
  .box
    %h1
      Edit profile

    .description
      Make changes to your profile here.

    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      .left-col
        .field
          .fa-input.small.email
            %i.fa.fa-user
            = f.email_field :email, autofocus: true, placeholder: 'E-Mail'

          = handle_form_error(:email, resource)

        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for:
            = resource.unconfirmed_email

        .field
          .fa-input.small.password
            %i.fa.fa-lock
            = f.password_field :password, autocomplete: 'off', placeholder: 'Password'

          .hint
            (leave blank if you don't want to change it)

          = handle_form_error(:password, resource)

        .field
          .fa-input.small.password
            %i.fa.fa-lock
            = f.password_field :password_confirmation, autocomplete: 'off', placeholder: 'Password confirmation'

          = handle_form_error(:password_confirmation, resource)

        .field
          .fa-input.small.password
            %i.fa.fa-lock
            = f.password_field :current_password, autocomplete: 'off', placeholder: 'Current password'

          .hint
            (we need your current password to confirm your changes)

          = handle_form_error(:current_password, resource)

      .clear

      .field
      .actions
        .fa-input.button.small
          = f.button type: 'submit', class: 'green' do
            %i.fa.fa-check-circle
            Update profile

    .clear
    .divider

    %h1
      Delete account

    .description
      Click on this button to delete your account.

    .actions
      .fa-input.button.small
        = button_to registration_path(resource_name), data: { confirm: 'Are you sure?' }, method: :delete, class: 'red' do
          %i.fa.fa-close
          Delete account

  .links
    .link
      = link_to 'Back', :back
