.links
  - if controller_name != 'sessions'
    .link
      Already registered?
      = link_to 'Login', new_session_path(resource_name)

  - if devise_mapping.registerable? && controller_name != 'registrations'
    .link
      No Account?
      = link_to 'Register', new_registration_path(resource_name)

  - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
    .link
      Forgot your password?
      = link_to 'Reset password', new_password_path(resource_name)

  - if devise_mapping.confirmable? && controller_name != 'confirmations'
    .link
      = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name)

  - if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
    .link
      = link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name)

  - if devise_mapping.omniauthable?
    .link
      - resource_class.omniauth_providers.each do |provider|
        = link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider)
