#course-form.course-form
  .menu
    %ul
      %li{ class: 'active' }
        %a{ href: '#information' }
          Information

      %li
        %a{ href: '#members' }
          Members

      .clear

  = form_for @course do |f|
    #information.page.active
      .field
        .fa-input.course-title
          %i.fa.fa-calendar-o
          = f.text_field :title, autofocus: true, placeholder: 'Title'

        = handle_form_error(:title, @course)

      .field
        .fa-input.course-description
          %i.fa.fa-pencil
          = f.text_field :description, placeholder: 'Description'

        = handle_form_error(:description, @course)

      .divider

      .field.privacy
        .table
          .title
            Privacy

          .options
            = f.radio_button :public, true
            = f.label :public, 'Public', value: 'true'

            = f.radio_button :public, false, checked: true
            = f.label :public, 'Private', value: 'false'

          .clear

      .divider

    #members.page
      .field
        .user-selector
          .add
            = f.text_area :user_emails, placeholder: 'Enter comma separated user e-mail addresses'

      .divider

    .actions
      .fa-input.button.submit
        = f.button type: 'submit', class: 'green' do
          %i.fa.fa-check-circle
          Finish

      .clear

:javascript
  $(document).on('ready page:load', function() {
    var courseForm = new CourseForm('.course-form');
  });
