#dashboard.dashboard
  %h1
    Dashboard

  .box
    - if @owned_courses.present?
      %h2
        Courses you created

      .description
        These courses have been created by you.

      %ul
        - @owned_courses.each do |course|
          %li
            %a{ href: course_path(course) }
              .id
                = course.formatted_id

              .info
                .title
                  = course.title

                .clear
                .description
                  = course.description

              .actions
                %a{ href: edit_course_path(course) }
                  %i.fa.fa-pencil

                %a{ href: course_path(course), class: 'red', data: { method: 'delete', confirm: 'Are you sure?' } }
                  %i.fa.fa-trash

              .clear

      - if @owned_courses.present? && @assigned_courses.present?
        .divider

    - if @assigned_courses.present?
      %h2
        Courses you are assigned to

      .description
        You are contributing to these courses.

      %ul
        - @assigned_courses.each do |course|
          %li
            %a{ href: course_path(course) }
              .id
                = course.formatted_id

              .info
                .title
                  = course.title

                .clear
                .description
                  = course.description

              .creator
                .description
                  Created by

                .clear

                .username
                  = course.owner.username

                .avatar
                  = image_tag(course.owner.avatar_image(:tiny))

              .clear
