#question-form.question-form
  = form_for [@question.course, @question], html: { multipart: true } do |f|
    .page
      .field
        = render 'partials/code_field', form_content: { form: f, content: :content, object: @question }

      .divider

      .field.category
        .table
          .title
            Category

          .options
            = f.select(:category, Question::CATEGORIES.map { |category| [category.humanize, category] })

          .clear

      .divider

      .field.privacy
        .table
          .title
            Username visibility

          .options
            = f.radio_button :anonymous, true
            = f.label :anonymous, 'Anonymous', value: 'true'

            = f.radio_button :anonymous, false
            = f.label :anonymous, 'Public', value: 'false'

          .clear

      .divider

      .field.file-upload
        .table
          .title
            File attachments

          .options
            = file_field_tag 'files[]', type: :file, multiple: true
            = handle_form_error(:file_attachments, @question)

          .clear

      .divider

      - if @question.file_attachments.present?
        .field.file-attachments
          .table
            .title
              Attached files

            .options
              - @question.file_attachments.each do |file|
                .attachment
                  .preview
                    = image_tag(file.preview_image)

                  .name
                    = file.file_file_name

                  .delete
                    = link_to content_tag(:i, nil, class: 'fa fa-trash-o'), file, class: 'red', method: :delete, data: { confirm: 'Are you sure?' }

            .clear

        .divider

    .actions
      .fa-input.button.submit
        = f.button type: 'submit', class: 'green' do
          %i.fa.fa-check-circle
          Finish

      .clear

:javascript
  $(document).on('ready page:load', function() {
    var courseForm = new CourseForm('.course-form');
  });
