#question-form.question-form
  = form_for [@question.course, @question], html: { multipart: true } do |f|
    .page
      .field
        = render 'partials/code_field', form_content: { form: f, content: :content, object: @question }

      .divider

      .field.category
        .table
          .title
            Category

          .options
            = f.select(:category, Question::CATEGORIES.map { |category| [category.humanize, category] })

          .clear

      .divider

      .field.privacy
        .table
          .title
            Username visibility

          .options
            = f.radio_button :anonymous, true
            = f.label :anonymous, 'Anonymous', value: 'true'

            = f.radio_button :anonymous, false
            = f.label :anonymous, 'Public', value: 'false'

          .clear

      .divider

      .field.file-upload
        .table
          .title
            File attachments

          .options
            = file_field_tag 'files[]', type: :file, multiple: true

          .clear

      .divider

    .actions
      .fa-input.button.submit
        = f.button type: 'submit', class: 'green' do
          %i.fa.fa-check-circle
          Finish

      .clear

:javascript
  $(document).on('ready page:load', function() {
    var courseForm = new CourseForm('.course-form');
  });
