= render 'partials/logo'

#reset-password.reset-password
  .box
    %h1
      Change your password

    .description
      Type in a new password and submit the form to change it.

    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = f.hidden_field :reset_password_token

      .field
        .fa-input.small.email
          %i.fa.fa-lock
          = f.password_field :password, autofocus: true, autocomplete: 'off', placeholder: 'New password'

        = handle_form_error(:password, resource)

      .field
        .fa-input.small.email
          %i.fa.fa-lock
          = f.password_field :password_confirmation, autofocus: true, autocomplete: 'off', placeholder: 'Password confirmation'

        = handle_form_error(:password_confirmation, resource)

      .actions
        .fa-input.small.submit
          = f.button type: 'submit', class: 'green' do
            %i.fa.fa-check-circle
            Change my password

  = render 'devise/shared/links'
