= render 'partials/logo'

#reset-password.reset-password
  .box
    %h1
      Forgot your password?

    .description
      Type in your e-mail address and submit the form to receive instructions how to reset your password.

    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      .field
        .fa-input.small.email
          %i.fa.fa-user
          = f.email_field :email, autofocus: true, placeholder: 'E-Mail'

        = handle_form_error(:email, resource)

      .actions
        .fa-input.button.small
          = f.button type: 'submit' do
            %i.fa.fa-send
            Send password instructions

  = render 'devise/shared/links'
