#dashboard.dashboard.courses.show
  .content
    .left

    .center
      %h1
        = "Course #{@course.title}"

      %a{ href: new_course_question_path(@course) }
        .add-question
          %i.fa.fa-plus-square
          .label
            New question

      .clear

      .box
        %h2
          Questions

        .description
          These questions have been created in this course.

        %ul
          - @course.questions.each do |question|
            %li
              %a{ href: course_question_path(@course, question) }
                .status
                  - if question.solved
                    .fa.fa-check

                  - else
                    .fa.fa-chevron-right

                .info
                  .title
                    = truncate(question.content, length: 35)

                  .clear

                  .category
                    = question.category.to_s.humanize

                  .date
                    = "Asked on #{question.created_at.to_formatted_s(:long)}"

                .creator
                  .description
                    Created by

                  .clear

                  .username
                    = question.author.username

                  .avatar
                    = image_tag(question.author.avatar_image(:tiny))

                - if question.author === current_user
                  .actions
                    %a{ href: edit_course_question_path(@course, question) }
                      %i.fa.fa-pencil

                    %a{ href: course_question_path(@course, question), class: 'red', data: { method: 'delete', confirm: 'Are you sure?' } }
                      %i.fa.fa-trash

                .clear


    .right
    .clear
